.navbar {
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
    background-color: #2D3047;
    height: 5em;
  }

  .logo{
    text-align: left;
  }
  
  .logoText {
    align-content: left;
    font-size: 2em;
    color: white;
    text-align: left;
    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
  }

.logoutLink{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.logoTextLink:hover,
.logoTextLink:active,
.logoTextLink:focus,
.logoTextLink:visited,
.logoutLink:hover,
.logoutLink:active,
.logoutLink:focus,
.logoutLink:visited{
  text-decoration: none;
  outline: none !important;
  box-shadow: none !important;
}

.logoutLink:hover{
  color: #FFD476;
}

#navbarLogout{
  text-align: right;
}
