.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.reactTable {
  background-color: white;
  padding:0em !important;
  margin-top: 2em;
  margin-bottom: 5em;
}

.rt-resizable-header {
  background: #2D3047 ;
  color: white;
  font-size: 1.2em;
}

.selector{
  background: #2D3047 ;
  color: white;
  outline: none;
  padding: 0.5em;   
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.selector:hover{
  cursor: pointer;
}
.company-selector, .category-selector{
  width: 100%;
}

.pos-rt{  
  float: right ;
}

.pos-lt{  
  float: left ;
}

.gen-button {
  border: none;
  outline: none !important;
  padding: 0.3em !important; 
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  margin-bottom: 2em;
}

.blue-button {
  background-color: #2D3047 !important ;
  color: white;
  border-color: transparent;
}

.gray-button {
  background-color: #EEEEEE !important ;
  color: #2D3047;
}

.blue-button:hover {
  background-color: rgb(68, 72, 105) !important ;
}

.gray-button:hover {
  background-color: rgba(141, 139, 139, 0.514) !important ;
}


.rel-text-white, .rel-text-blue {
  font-size: 1.2em;
}

.rel-text-white:hover {
  text-decoration: none;
  color: white;
}


.rel-text-blue:hover {
  text-decoration: none;
  color: #2D3047;
}

.w-20{
  width: 20%;
}

.w-5{
  width: 5%;
}

.h-2 {
  height: 20% !important;
}

input[type=checkbox]
{
  -ms-transform: scale(1.7); /* IE */
  -moz-transform: scale(1.7); /* FF */
  -webkit-transform: scale(1.7); /* Safari and Chrome */
  -o-transform: scale(1.7); /* Opera */
}

.gray-label {

font-style: normal;
font-weight: normal;
font-size: 15px !important;
line-height: 21px;
display: flex;
align-items: flex-end;

color: #828282; 
}

.mt-2{
  margin-top: 2em;
}

.mb-4{
  margin-bottom: 4em;
}

.mb-5{
  margin-bottom: 5em;
}

.mb-6{
  margin-bottom: 5em;
}

.text-box{
  background-color: #FFFAEF ;
  color: #2D3047;
  padding: 0.5em;   
  padding-left: 1em !important;
  padding-right: 1em !important;
  border: 1.5px solid #2D3047 !important;
}

.completedIcon {
  color: green;
}

.pendingIcon {
  color: orange;
}

.failedIcon {
  color: red;
}

.stoppedIcon {
  color: blue;
}

.inProgressIcon {
  color: grey;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
